<nav class="nav">
  <h1><a routerLink=""> E-COMM </a></h1>

  <div *ngIf="menuType === 'default'" class="nav-search">
    <input
      type="text"
      #searchInput
      placeholder="Search"
      (keyup)="searchProduct($event)"
      (blur)="hideSearch()"
    />
    <button (click)="submitSearch(searchInput.value)">Search</button>
    <ul class="suggested-search" *ngIf="searchResult">
      <li *ngFor="let item of searchResult">
        <a href="#">{{ item?.name }} </a>
      </li>
    </ul>
  </div>

  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink=""> Home</a></li>
      <li><a routerLink="seller-auth"> Seller</a></li>
      <li><a routerLink="login"> Login</a></li>
      <li><a routerLink="cart"> Cart(0)</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="seller-home"> Product List</a></li>
      <li><a routerLink="seller-add-product"> Add Product</a></li>
      <li><a (click)="logout()"> Logout</a></li>
      <li>
        <a style="color: black">{{ sellerName | titlecase }}</a>
      </li>
    </ul>
  </div>
</nav>
