<ngb-carousel *ngIf="popularProducts">
  <ng-template *ngFor="let product of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <a routerLink="/product-details/{{ product.id }}">
        <img
          class="product-header-image"
          src="{{ product?.image }}"
          alt="Random first slide"
        />
      </a>
    </div>
    <div class="carousel-caption">
      <h3>{{ product?.name }}</h3>
      <p>{{ product?.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="product-list-warpper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let product of trendyProducts">
      <div class="product-item">
        <a routerLink="/product-details/{{ product?.id }}">
          <img src="{{ product?.image }}" alt="{{ product?.name }}" />
        </a>
        <div class="product-details">
          <h6 class="name-head">{{ product?.name }}</h6>
          <div class="product-price">
            <h6>Price: {{ product?.price }}</h6>
          </div>
          <div class="product-color">
            <h6>Color: {{ product?.color }}</h6>
          </div>
        </div>
        <div class="product-footer">
          <a routerLink="/product-details/{{ product.id }}">View Details</a>
          <a href="#">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
